.brand {
  color: #d22;
}

.bg-brand {
  background-color: #d22;
}

.b--brand {
  border-color: #d22;
}

.bg-gradient {
  background: radial-gradient(#eee, #777);
}

.scrollbar-white,
.scrollbar-near-black {
  scrollbar-width: thin;
}

.scrollbar-white {
  scrollbar-color: #fff transparent;
}

.scrollbar-near-black {
  scrollbar-color: #111 transparent;
}
